.main section {
    padding: 2rem 2%;
}

.label {
    padding:1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.loader >*{
    color: rgb(77, 159, 146);
}